<div class="header">
  <div class="pull-right">
    <h4>by <a href="http://www.aaltohelsinki.com/index_en.html">Aalto-Helsinki</a></h4>
  </div>
  <h3 class="text-muted">BioBrick Seeker</h3>
  <i>Search through the iGEM 2014 distribution.</i>
</div>

<div class="row">
  <input placeholder="write something to filter entries" class="form-control" ng-model="criteria"></input>
  <br>
  <ul>
    <li ng-repeat="entry in entries | filter:criteria">
      <b><a href="http://parts.igem.org/Part:{{entry.Part}}" target="_blank">{{entry.Part}}</a></b> <b>{{entry.Description}}</b>
      <ul>
        <li>Location: (Plate {{entry.Plate - 3084}}) {{entry.Well}}</li>
        <li>Type: {{entry.Type}}</li>
        <li>Plasmid: {{entry.Plasmid}}</li>
      </ul>
    </li>
  </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Aalto-Helsinki team</p>
</div>
